* {
    font-family: 'Poppins', 'Sans-serif';
}

.notes .card-notes {
    border: 1px solid rgba(0, 0, 0, 0.22);
    box-sizing: border-box;
    border-radius: 22px;
}

.search-notes input {
    height: 43px;
    color: #9F9F9F !important;
    font-size: 16px;
    border-radius: 11px;
}

.search-notes button {
    width: 141px;
    height: 39px;
    border-radius: 8px;
    background: #FB4F4F;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.add-notes input {
    height: 43px;
    color: #9F9F9F !important;
    font-size: 16px;
    border-radius: 11px;
}

.add-notes form .form-floating textarea {
    height: 300px;
    color: #9F9F9F !important;
    font-size: 16px;
    border-radius: 11px;
}

.add-notes button {
    width: 100%;
    height: 43px;
    border-radius: 8px;
    background: #FB4F4F;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.list-notes .btn-delete {
    border: none;
    background: transparent !important;
    font-size: 20px;
    color: #9F9F9F;
}

.list-notes .btn-delete:hover {
    color: #FB4F4F;
    transition: 0.3s;
}

.list-notes h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #464646;
}

.list-notes h6 {
    font-size: 13px;
    line-height: 19px;
    color: #464646;
}

.list-notes p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 27px;
    color: #464646;
}